- if user_signed_in?
  = image_tag current_user.avatar.url(:thumb)
  %li
    = link_to('Logout', destroy_user_session_path, method: :delete)
    %br
    = link_to('Settings', edit_user_registration_path)
- else
  %li
    = link_to('Login', new_user_session_path)
